
<footer class="footer-container" style="position:fixed; margin-left: 0px !important; width: 100%;">
    <div class="col-md-12 text-center">
        <a href="#">© 2018 -Visionsoft</a>
    </div>
</footer>



